
  <div class="container" id="flex-box">
      <div class="form">
        <%= simple_form_for(@painting) do |f| %>
          <%= f.input :name, label: "What is the Painting's name ?", placeholder: 'La Joconde' %>
          <%= f.input :location, label: 'where is the painting?', placeholder: 'Paris' %>
          <%= f.input :price, label: 'Rental Price per day in €', placeholder: '300 000 ' %>
          <%= f.input :author, label: "Artist's name", placeholder: 'De Vinci' %>
          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden %>
          <%= f.submit "Search", class: "btn-medium" %>
        <% end %>
      </div>
  </div>

