
<div class="container">
  <h1>Here are the paintings corresponding to your search</h1>

  <div class="row">
    <% @paintings.each do |painting| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path painting.photo %>');">

          <div class="card-category">
            Popular
          </div>

          <div class="card-description">
            <h2> <%= painting.name  %> </h2>
            <p> <%= painting.author  %></p>
          </div>

          <a class="card-link" href="#" ></a>
        </div>
      </div>
    <% end %>

  </div>


  <div class="row">
    <% @paintings.each do |painting| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" <%= cl_image_tag painting.photo %> >

          <div class="card-description">
            <h5 class="card-title"><%= painting.name %></h5>
            <p class="card-text"><%= painting.author %></p>
          </div>

        </div>
      </div>
    <% end %>

  </div>

</div>
