<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.3)), url(<%= image_path('dashboard1.jpeg') %>);">
  <h1>Here are the paintings!</h1>
</div>
<div class="container">
  <div class="row">
    <% @paintings.each do |painting| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <figure class="snip1423">
          <%= cl_image_tag painting.photo, height: 200, width: 260, crop: :fill%>
          <figcaption>
            <h3><%= painting.name  %></h3>
            <p><%= painting.author  %></p>
            <div class="price">
              <%= painting.price %> € / day
            </div>
          </figcaption><i class="ion-android-cart"></i>
          <a href=""></a>
          <%= link_to '', painting_path(painting.id) %>
        </figure>
      </div>
    <% end %>
  </div>
</div>
