<div class="container">
  <div id="information-container">
    <br>
    <br>
    <h1>Information on painting: <%= @painting.name %></h1>
  </div>
  <div id="painting-container">
    <div id="painting-text">
      <ul>
        <li>
          <p><strong>Author: </strong><%= @painting.author %> </p>
        </li>
        <li>
          <p><strong>Price($): </strong><%= @painting.price %> </p>
        </li>
        <li>
          <p><strong>Location: </strong><%= @painting.location %> </p>
        </li>
         <li>
          <p><strong>Style: </strong><%= @painting.style %> </p>
        </li>
      </ul>
      <%= link_to '<i class="fa fa-chevron-circle-left"></i> back'.html_safe, root_path %>
    </div>
    <div id="painting-photo">
      <%= cl_image_tag @painting.photo, height: 300, width: 400, crop: :fill %>
    </div>
    <br>
    <div class="form">
      <%= simple_form_for [@painting, Booking.new]  do |f| %>
        <%= f.input :start_date, label: 'Start Date', placeholder: 'dd/mm/yyyy' %>
        <%= f.input :end_date, label: 'End Date', placeholder: 'dd/mm/yyyy' %>
        <%= f.submit "Book!", class: "btn-medium" %>
      <% end %>
    </div>
  </div>
</div>
