<div class="col-xs-12 col-sm-6 col-md-4">
  <figure class="snip1423_sh">
    <%= cl_image_tag painting.photo, height: 280, crop: :fit%>
    <figcaption>
      <%= simple_form_for painting do |f| %>
        <%= f.input :name, input_html: { label: 'Title', value: painting.name, class: 'form-date' }, label_html: { class: 'form-label' } %>
        <%= f.input :author, input_html: { label: 'Author', value: painting.author, class: 'form-date' }, label_html: { class: 'form-label' } %>
        <%= f.input :style, input_html: { label: 'Style', value: painting.style, class: 'form-collection select2' }, label_html: { class: 'form-label-edit' }, collection: Painting::STYLES %>
        <p>Owner : <%= "#{painting.user.first_name} #{painting.user.last_name}" %></p>
        <i><%= f.submit "Update", class: 'avatar_book_btn' %></i>
      <% end %>
      </div>
  </figure>
</div>
