<div class="col-xs-12 col-sm-6 col-md-4">
  <figure class="snip1423_sh">
    <%= cl_image_tag painting.photo, height: 280, crop: :fit%>
    <figcaption>
      <h3>Title : <%= painting.name  %></h3>
      <p>Author : <%= painting.author  %></p>
      <p>Style : <%= painting.style  %></p>
      <p>Owner : <%= "#{painting.user.first_name} #{painting.user.last_name}" %></p>
      <%= simple_form_for [painting, Booking.new] do |f| %>
        <%= f.input :start_date, input_html: { label: 'Start Date', value: start_date, class: 'form-date' }, label_html: { class: 'form-label' } %>
        <%= f.input :end_date, input_html: { label: 'End Date', value: end_date, class: 'form-date' }, label_html: { class: 'form-label' } %>
        <i><%= f.submit " Book ", class: 'avatar_book_btn' %></i>
      <% end %>
      <div class="price">
       Total Price : <%= total_paid %> €
      </div>
  </figure>
</div>
