
<div class="form-home">
  <%= simple_form_for :paintings, url: paintings_path, method: 'GET' do |f| %>
    <%= f.input :location, label: 'Where do you live ?', placeholder: 'Type your address' %>
    <%= f.input :start_date, label: 'Booking starting date', placeholder: 'dd/mm/yyyy' %>
    <%= f.input :end_date, label: 'Booking ending date', placeholder: 'dd/mm/yyyy' %>
    <%= f.input :style, label: 'What style of painting are you looking for ?', placeholder: 'Choose in the list', collection: Painting::STYLES, input_html:{class: 'select2'} %>
    <%= f.submit "Search", class: "btn-medium" %>
  <% end %>
</div>

