<!-- <button class="snip1564">Submit</button>
<button class="snip1564 hover">Read More</button>
<button class="snip1564">Add to Cart</button>
<button class="snip1564">Subscribe</button> -->
<br>
<br>
<%= render 'tab' %>
<br>
<br>
<br>


<div class="container text-center">
  <div class="grid">
    <div class="card-dshbrd main-section" >
      <div class="card-content">
        <%= image_tag "avatar.png", class: "img-circle", width: 150 %>
        <h2><%= "#{current_user.first_name} #{current_user.last_name}" %></h2>
        <p><%= "#{current_user.address}" %></p>
        <p><%= "#{current_user.email}" %></p>
        <p><%= "Preferred painter : " %></p>
        <button class="snip1564 fixed-top"><%= link_to 'Modify', edit_user_registration_path(current_user) %></button>
      </div>
    </div>
    <div class="card-dshbrd stats-section">
      <div class="card-content">
        <h3><%= @paintings.count %></h3>
        <p>Paintings</p>
        <button class="snip1564 hover fixed-top"><%= link_to 'Add', new_painting_path %></button>
      </div>
    </div>
    <div class="card-dshbrd stats-section">
      <div class="card-content">
        <h3><%= @bookings.count %></h3>
        <p>Bookings</p>
      </div>
    </div>
    <div class="card-dshbrd stats-section">
      <div class="card-content">
        <h3>119</h3>
        <p>Followers</p>
      </div>
    </div>
    <div class="card-dshbrd content-section">
      <div class="card-content">
        <h3><%= "More about #{current_user.first_name}" %></h3>
        <p class="text-justify">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ullam ipsa vel sint nobis error, et maiores consequatur sequi reprehenderit quos sit veritatis consequuntur dolorem, a eos dolor. Ab, dicta.
        </p>
      </div>
  </div>
  </div>
  <div>
    <% @bookings.each do |booking| %>
      <%= render 'shared/booking_card', booking: booking %>
    <% end %>
  </div>
  <div class="container">
    <h4><%= @paintings.length %> Paintings for you</h4>
    <div class="row">
      <% @paintings.each do |painting| %>
        <%= render 'shared/painting_card', painting: painting %>
      <% end %>
    </div>
  </div>
</div>
